[submodule "Thirdparty/spdlog"]
	path = Thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Thirdparty/ShaderCompiler"]
	path = Thirdparty/ShaderCompiler
	url = https://github.com/evangelionxyz/Umbra-ShaderCompiler.git
[submodule "Thirdparty/glm"]
	path = Thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Thirdparty/entt"]
	path = Thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "Thirdparty/stb"]
	path = Thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "Thirdparty/GoogleTest"]
	path = Thirdparty/GoogleTest
	url = https://github.com/google/googletest.git
[submodule "Thirdparty/cppcoro"]
	path = Thirdparty/cppcoro
	url = https://github.com/lewissbaker/cppcoro.git
